.app-wrapper {
    --app-border-color: hsl(210, 63%, 15%);
    max-width: 65rem;
    margin-inline: auto;
    display: grid;
    min-height: 100svh;
    grid-template-rows: auto 1fr auto;
    border-left-width: 0.0625rem;
    border-left-style: solid;
    border-left-color: var(--app-border-color);
    border-right-width: 0.0625rem;
    border-right-style: solid;
    border-right-color: var(--app-border-color);
    
    & main {
        margin-block-start: 5rem;
    }
}