
<section>

    <h2>Hitta utbildning</h2>
    <p>
        Sök bland universitetets tusentals kurser. Du kan 
        söka en kurs via fritext eller genom att avgränsa till 
        ett specifikt ämnes&shy;område.
    </p>

</section>

<section>

    <form [formGroup]="filterFormGroup">
        <label for="course-filter">Filtrera kurser:</label>
        <input type="text" id="course-filter" placeholder="Filtrera på kurskod eller kursnamn" formControlName="filterInput" (input)="filterCourses()">
        <label for="subject-filter">Filtrera på ämne:</label>
        <select id="subject-filter" formControlName="filterSelect" (change)="filterCourses()">
            <option value="">Gör ditt val nedan:</option>
            <option *ngFor="let subject of subjects" value="{{ subject }}">{{ subject }}</option>
        </select>
        <div id="counter">
            {{ numberOfCoursesCurrent}} träffar av totalt {{ numberOfCoursesTotal }} kurser.
            <br>
            Visar rad {{ sliceStart + 1 }} - {{ sliceEnd }}.
        </div>
    </form>
    

</section>

<section>

    <table>
        <thead>
            <tr>
                <th><span (click)="sortCourses('code');" class="pointer">Kurskod</span></th>
                <th><span (click)="sortCourses('name');" class="pointer">Kursnamn</span></th>
                <th><span (click)="sortCourses('points');" class="pointer">Poäng</span></th>
                <th><span (click)="sortCourses('subject');" class="pointer">Ämne</span></th>
                <th>Kursplan</th>
                <th>Schema</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of coursesFiltered | slice: sliceStart : sliceEnd">
                <td data-cell="Kurskod">{{ course.courseCode }}</td>
                <td data-cell="Kursnamn">{{ course.courseName }}</td>
                <td data-cell="Poäng">{{ course.points }}</td>
                <td data-cell="Ämne">{{ course.subject }}</td>
                <td data-cell="Kursplan">
                    <a href="{{ course.syllabus }}" target="_blank">Kursplan</a>
                </td>
                <td data-cell="Schema">
                    <button type="button" (click)="addToCourseList(course.courseCode, $event)">Lägg till</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>{{ errorMessage }}</div>
    <div id="content">
        <button type="button" (click)="expandSlice()">Läs in ytterligare rader</button>
    </div>
</section>